.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.shop-container{
  width: 100%;
  height: 100%;
}
.img-container{
  transition: ease .2s;
}
.img-container:hover{
  transform: scale(1.06);
}
.shop-cat-box:hover{
  transform: scale(1.06);
}
.desc-container{
  padding: 5%;
  align-items: left;
  text-align: left;
}
