.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
#root{
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


header{
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  /* background-image: url(https://static.pexels.com/photos/51415/pexels-photo-51415.jpeg); */
  height: 100vh;
}
/* Overlay */
header:before{
  content: '';
  position: absolute;
  background: #000;
  opacity: .7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
header .section-content .section-inner {
  padding-top: 30vh;
  position: relative;
}

header .section-inner h1{
  font-size: 6rem;
}
header .section-inner p{
  font-size: 2rem;
}

.navbar-inverse {
  /* background-color: black; */
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.5);
  border-color: transparent;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
  color: #E05416;
  background-color: transparent;
}

.navbar-inverse.navbar-animated {
  background-color: #fff;
}

a {
  color: #fff;
}

a:hover,
a:focus {
  color: #e05416;
  text-decoration: none;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #E05416;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #E05416;
}

.navbar-toggle {
  margin-right: 0;
  padding: 9px 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}
/* Header */
header{
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  background-image: url('./assets/images/sakhalin-husky.jpg');
  height: 100vh;
}
/* Overlay */
header:before{
  content: '';
  position: absolute;
  background: #000;
  opacity: .7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
header .section-content .section-inner {
  padding-top: 30vh;
  position: relative;
}

header .section-inner h1{
  font-size: 6rem;
}
header .section-inner p{
  font-size: 2rem;
}
.shop-cat-box{
  margin: 30px;
  position: relative;
  padding: 3px;
  height: 15em;
  overflow: hidden;
  border: 0px solid #000000;
  box-shadow: 9px 9px 30px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease-in-out 0s;
}
.shop-cat-box img {
    margin: -10px 0 0 -10px;
    max-width: none;
    width: -webkit-calc(90% + 10px);
    width: calc(100% + 10px);
    opacity: 0.9;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(10px,10px,0);
    transform: translate3d(10px,10px,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.footer{
  background: #152F4F;
  color:white;

  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  }
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);}
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f7f7;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 290px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
